body {
	background-color: #1b1b1b;
	color: #ddd;
	font-family: 'Fira Sans', sans-serif;
}

div {
	/* center everything */
	position: fixed;
	top: 50%;
	left: 50%;
	height: 400px;
	width: 800px;
	margin-top: -200px;
	margin-left: -400px;
}

h1, h2, h3, h4, h5 { text-align: center; }
h2 { color: sandybrown; }
h3 { color: wheat; }
a { color: #3bf; }
